@use "../../Foundation/mixin" as m;

.list-skills {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  font-size: 1.5rem;

  @include m.breakpoint(pc) {
    width: 60rem;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 0 auto;
  }

  &__item {
    margin-bottom: 0.5rem;

    @include m.breakpoint(tab) {
      display: flex;
      column-gap: 5px;
      margin-bottom: 0.5rem;
    }

    @include m.breakpoint(pc) {
      margin-bottom: 1rem;
    }

    &>i {
      letter-spacing: 0.2rem;
    }
  }

  &__text {
    text-align: left;

    &--first {
      margin-bottom: 0.5rem;
      border-bottom: solid 1px #7DCE94;
    }
  }
}